/* HSL */
$color1: hsla(117%, 50%, 84%, 1);
$color2: hsla(114%, 15%, 75%, 1);
$color3: hsla(305%, 12%, 61%, 1);
$color4: hsla(327%, 19%, 45%, 1);
$color5: hsla(319%, 13%, 5%, 1);

$color6: #ed5050;
$color7: #405779;