:root {
  --font-color: #fff;
  --font-hover-color: orange;
}

/* .contact-container {
  margin: 0 auto;

  width: 500px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 2em;
  background-color: #fff;
} */

.form-group {
  margin-bottom: 1.5em;
  transition: all 0.3s;
}
.form-label {
  font-size: 0.75em;
  color: var(--font-color);
  display: block;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
  transition: all 0.6s;
}
.form-control::placeholder {
  color: rgb(59, 59, 59);
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}
.form-group:focus-within {
  transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
  border-color: red;
}
.form-control:valid:focus {
  border-color: green;
}

.contact-btn {
  background: 0 0 #405779;
  border: 1px solid #aaa;
  border-radius: 0;
  color: var(--font-color);
  font-size: 1.5rem;
  padding: 20% 50%;
  margin-top: 30%;
  text-transform: uppercase;
}
.btn:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}
textarea {
  /* resize: none; */
}

.focused > .form-label {
  opacity: 1;
  transform: translateX(0px);
}
