// INTEGRATION SECTION 5
.swiper-container {
  height: 80%;
  .swiper-slide {
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }
}
// Yep that't the 5th one up there!
